
server/data/**
!server/data/*.py

!server/data/tad_data_generator/
server/data/tad_data_generator/*
!server/data/tad_data_generator/*.py

!server/data/seq_generator/
server/data/seq_generator/*
!server/data/seq_generator/*.py

.vscode/

logs/
*.out
*.tmp

__pycache__/
.ipynb_checkpoints/

Run.ipynb
