
server/data/**
data/**
!server/data/*.py
*.zip
drava_flask/

!server/data/tad_data_generator/
server/data/tad_data_generator/*
!server/data/tad_data_generator/*.py

!server/data/seq_generator/
server/data/seq_generator/*
!server/data/seq_generator/*.py

!server/data/codex/
server/data/codex/*
!server/data/codex/*.py

drava_flask/

.vscode/

logs/
*.out
*.tmp
.DS_Store
*.bigwig
build/


__pycache__/
.ipynb_checkpoints/

Run.ipynb
static/
saved_models
lightning_logs/
