.latentImage {
    display: inline-block;
    border: 3px solid orange;
    opacity: 0.25;
    cursor: pointer;
}

.dimHeader {
    display: inline-block;
    cursor: pointer;
}

.isSelected {
    /* border: 1px solid black; */
    opacity: 1;
}

.rowContainer {
    padding-top: 10px;
}
