:root {
  --card-color: lightgray;
  --card-body-padding: 12px;
  --card-head-height: 52px;
  --selected-color: orange;
}

.gosling-component {
  margin: auto !important;
  padding: 0px !important;
  height: auto !important;
  width: auto !important;
}

.ant-card-head {
  /* background-color: rgb(143, 201, 255) !important; */
  background-color: var(--card-color) !important;
  color: white !important;
  font-size: 18px !important;
  padding: 0 10px;
}

.ant-card-head-wrapper {
  height: var(--card-head-height) !important;
}

.ant-card-extra {
  color: white !important;
}

.ant-card-bordered {
  border: 1px solid var(--card-color) !important;
}

.ant-card-body {
  padding: var(--card-body-padding) !important;
}

/* custome style css */
.pointer_cursor {
  cursor: pointer;
}
